#auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#auth_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.app_root {
  font-family: 'Martel', serif;
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #22202C;
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: absolute;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', cursive;
  color: #BA3D00;
}

.quote_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.quote_input input {
  width: 125vh;
  padding: 1rem;
  font-family: 'Martel', serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.custom_spinner {
  color: goldenrod;
}

.rec_display {
  width: 80%;
  background-color: #f8f1e6;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rec_display p {
  font-family: 'Cormorant Infant', serif;
}

.accordion_header_content {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: -25px;

}

.accordion_header_content p {
  margin-top: -5px;
}

.accordion_container {
  width: 75%;
  margin: 0 auto;
}

.Accordion.Header h2 {
  font-family: 'Cormorant Infant', serif;
  color: #5d3300;
}

.accordion-header .accordion-button {
  background-color: #f8f1e6;
}

.accordion-body {
  background-color: #f8f1e6;
}

.Accordion.Body p {
  font-family: 'Martel', serif;
  color: #5d3300;
}

.rec_box_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rec_box {
  border: 1px solid #5d3300;
  padding: 1rem;
  border-radius: 5px;
}

.rec_box p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.75;
}
